<a href="https://colab.research.google.com/github/xinxingwu-uk/Experiments_C_S/blob/main/RegisterFull.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

---
# Login path
---

In [2]:
path="/content/UserNames.db"

---
# Connect database and show how many tables
---

In [3]:
#Step 1 â€” Creating a Connection to a SQLite Database
connection = sqlite3.connect(path)
#print(connection.total_changes)

cursor = connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()

print(myresult)

[('users',)]

---

In [4]:
def usernameExist(path,tablename,username):
  connection = sqlite3.connect(path)
  cursor = connection.cursor()
  rows = cursor.execute("SELECT COUNT(*) FROM "+tablename+" WHERE username='"+username+"';").fetchall()
  return len(rows)

def connectDatabase(path,tablename,username,password):
  connection = sqlite3.connect(path)
  cursor = connection.cursor()
  rows = cursor.execute("INSERT INTO "+tablename+" VALUES ('"+username+"','"+password+"');")
  connection.commit()

---
# Let users give name and password
---

In [5]:
username=input("Please enter your name ")

Please enter your name boss

In [6]:
password=input("Please enter your password ")

Please enter your password 1234

---
# Check username and password
---

In [7]:
tablename="users"
returnRow=usernameExist(path,tablename,username)

if returnRow>0:
  print("Register is failed :-(")
else:
  connectDatabase(path,tablename,username,password)
  print("Register is successful :-) ")

  cursor = connection.cursor()
  rows = cursor.execute("SELECT * FROM "+tablename).fetchall()
  print(rows)

Register is failed :-(