<a href="https://colab.research.google.com/github/xinxingwu-uk/Experiments_C_S/blob/main/Register.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

---
# Login path
---

In [2]:
path="/content/UserNames.db"

---
# Connect database and show how many tables
---

In [3]:
#Step 1 â€” Creating a Connection to a SQLite Database
connection = sqlite3.connect(path)
#print(connection.total_changes)

cursor = connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()

print(myresult)

[('users',)]

---
# Define a method to a whether the username and password exist in the table of database
---

In [24]:
def connectDatabase(path,tablename,username,password):
  connection = sqlite3.connect(path)
  cursor = connection.cursor()
  rows = cursor.execute("INSERT INTO "+tablename+" VALUES ('"+username+"','"+password+"');")
  connection.commit()

---
# Let users give name and password
---

In [25]:
username=input("Please enter your name ")

Please enter your name test2

In [26]:
password=input("Please enter your password ")

Please enter your password 888

---
# Check username and password
---

In [27]:
tablename="users"
connectDatabase(path,tablename,username,password)

In [28]:
cursor = connection.cursor()
rows = cursor.execute("SELECT * FROM "+tablename).fetchall()
print(rows)

[('boss', '1234'), ('admin', 'password'), ('test', '789'), ('test2', '888')]