<a href="https://colab.research.google.com/github/xinxingwu-uk/Experiments_C_S/blob/main/SQLiteWithPython_Select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
path="/content/Test.db"

In [3]:
#Step 1 â€” Creating a Connection to a SQLite Database
connection = sqlite3.connect(path)
#print(connection.total_changes)

In [4]:
cursor = connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()

print(myresult)

[('Course',), ('Students',)]

In [5]:
cursor = connection.cursor()
rows = cursor.execute("SELECT * FROM Course").fetchall()
print(rows)

[(1, 'Math', 6), (2, 'English', 5), (5, 'Biology', 6)]